.footer {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .footer {
      position: relative;
    }
  }