.header {
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    display: flex;
    align-items: left;
  }

  .logoContainer {
    flex: 0 1 auto; /* Allow the logo to shrink but not grow */
    width: 100px; /* Set a base width for the logo */
    min-width: 50px; /* Set a minimum width for the logo */
    height: auto; /* Maintain aspect ratio */
  }
  
  .navigation {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .navigation li {
    margin: 0 1rem;
  }
  
  .navigation a {
    color: var(--color-background);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  @media (max-width: 600px) {
    .navigation {
      flex-direction: column;
    }
  
    .navigation li {
      margin: 0.5rem 0;
    }
  }