.header {
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between; /* Adjusted to space-between to push nav to the right */
  align-items: center; /* Center aligned for better vertical alignment */
}

.headerLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoContainer {
  flex: 0 0 auto; /* Do not allow the logo to shrink or grow */
  width: 80px; /* Fixed width for the logo */
  height: auto; /* Maintain aspect ratio */
}

.title {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: white;
}

.navContainer {
  text-align: right;
}

.navigation {
  display: flex;
  justify-content: flex-end; /* Right align the navigation */
  align-items: center;
}

.navigation li {
  margin: 0 1rem;
}

.navigation a {
  color: var(--color-background);
  font-weight: bold;
  text-transform: uppercase;
}

.hamburger {
  display: none;
  color: white;
  font-size: 1.5rem;
  text-align: right;
}

.hamburgerContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.break {
  display: inline; /* Default for larger screens */
}

@media (max-width: 600px) {
  .header {
    align-items: flex-start; /* Align items to the start (left) */
    padding: 1rem; /* Adjust padding for mobile */
  }

  .logoContainer {
    display: flex; /* Use flexbox to center the image */
    width: fit-content; /* Allow the logo to be responsive */
    margin-right: 10px;
  }

  .navigation {
    display: none;
    width: auto; /* Take full width */
    justify-content: flex-end; /* Keep nav items right-aligned */
    flex-direction: column; /* Stack nav items vertically */
    align-items: flex-end; /* Right align the nav items */
  }

  .navigation li {
    margin: 0.5rem 0; /* Adjust margin for stacked items */
  }

  .hamburger {
    display: block;
  }

  .navigation.open {
    display: flex;
  }

  .title {
    font-size: 1.2rem;
  }

  .break {
    display: block; /* Breaks the line on smaller screens */
  }
}

@media (max-width: 265) {
  .title {
    display: none;
  }
}