.shareButtons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .shareButtons button {
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .shareButtons {
      flex-direction: column;
    }
  
    .shareButtons button {
      margin-right: 0.5rem;
    }
  }