.headerSection {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .topHeader {
    text-align: center; /* Center the text for the top header */
    width: 100%; /* Full width */
    margin-bottom: 1rem; /* Space between the top header and the content below */
  }
  
  .headerContentContainer {
    display: flex;
    justify-content: center;
    width: 100%; /* Full width */
  }
  
  .headerContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vw;
  }

  .topHeaderTitle {
    font-size: 3rem;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .headerImage img {
    width: 33vw;
    height: auto;
    border-radius: 10px;
    margin-left: 5vw;
  }
  
  .headerCopy {
    flex: 1;
    margin-left: 5vw;
  }
  
  .headerCopy h2 {
    margin-bottom: 0.5rem;
    font-weight: bolder;
    font-size: 2rem;
  }
  
  .postsFeed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  @media (max-width: 600px) {
    .headerCopy h2 {
      font-size: 1rem;
    }
    .topHeader h1 {
      font-size: 1.5rem;
    }
    .topHeader {
      width: 90vw;
    }
    .headerContentContainer {
      width: 90vw;
    }
    
    .headerContent {
      width: 90vw;
    }
  }